body {
    background-color: #f0e4d7;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#vintage-container {
    width: 600px;
    border: 5px solid #000;
    padding: 20px;
    box-shadow: 10px 10px 0 #ccc;
    background-color: #f7f4f0;
}

.vintage-header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

#screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output-box {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-color: #e8e2d6;
    border: 3px solid #000;
    padding: 10px;
    overflow-y: auto;
    font-family: 'Courier New', Courier, monospace;
}

.input-box {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid #000;
    box-sizing: border-box;
}

#sendButton,
#stopButton {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
#stopButton{
    background-color: #c33a3a;
}

#sendButton:hover,
#stopButton:hover {
    background-color: #444;
}
#stopButton:hover {
    background-color: #db6d6d;
}
.model-select {
    margin-bottom: 10px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.user-text {
    color: #000;
    font-weight: bold;
}

.ollama-text {
    color: #007700;
    white-space: pre-wrap;
}

.error-text {
    color: #ff0000;
}